<span>
<strong>Dear {input.name}</strong><br/><br/>

This communication serves to confirm that our website has processed your message. We should receive it shortly, and will get back to you as soon as we can (usually within two working days).<br/><br/>

Please do not reply to this email directly - responses to it will not be received. If you need to get hold of us urgently, please call us on {info.tel} or {info.altTel}.<br/><br/>

For your reference, your details and message appear below.<br/><br/>

Kind Regards,<br/>
{info.fromName}<br/><br/>

<strong style="font-size: 13pt">Your details and message:</strong><br/><br/>

<strong>Email Address:</strong> {input.email}<br/>
<strong>Contact Number:</strong> {input.contact}<br/>
<strong>Company Name:</strong> {input.company}<br/><br/>
<strong>Uploaded File:</strong> {files.file.name}<br/><br/>

{input.message.html}
</span>